<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibeosys.tradenow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TradeNowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.UserForgotPassActivity" />
        <activity
            android:name=".activities.TradingAlertActivity"
            android:parentActivityName=".activities.TradeAlertDateActivity" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activities.LoginClientActivity" />
        <activity
            android:name=".activities.ResetPassActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.DemoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.TradeHistoryActivity"
            android:parentActivityName=".activities.TradeHistoryDateActivity" />
        <activity
            android:name=".activities.NotificationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.TermsAndConditionActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.TradeAlertDetailsActivity"
            android:parentActivityName=".activities.TradingAlertActivity" />
        <activity
            android:name=".activities.TradeHistoryDetailsActivity"
            android:parentActivityName=".activities.TradeHistoryDateActivity" />
        <activity
            android:name=".activities.TradeDetailViewActivity"
            android:parentActivityName=".activities.TradeHistoryDateActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TradeAlertDateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.TradeHistoryDateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.NewsActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".services.SignalSyncService"
            android:exported="false" />
        <service
            android:name=".services.TradeBackupSyncService"
            android:exported="false" />
        <service
            android:name=".services.PageSyncService"
            android:exported="false" />

        <activity android:name=".activities.ClientForgotPassActivity" />
        <activity
            android:name=".activities.WebViewActivity"
            android:parentActivityName=".activities.NewsActivity" />
        <activity
            android:name=".activities.DynamicPageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.CustomWebViewActivity"
            android:parentActivityName=".activities.NewsActivity"></activity>
    </application>

</manifest>