<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibeosys.tradenow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ForgotPassActivity" />
        <activity
            android:name=".activities.TradingAlertActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activities.LoginClientActivity" />
        <activity
            android:name=".activities.ResetPassActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.DemoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.TradeHistoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.NotificationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.TermsAndConditionActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.TradeAlertDetailsActivity"
            android:parentActivityName=".activities.TradingAlertActivity" />
        <activity
            android:name=".activities.TradeHistoryDetailsActivity"
            android:parentActivityName=".activities.TradeHistoryActivity" />
        <activity android:name=".activities.TradeDetailViewActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>