<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftcsolutions.tradenow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.ftcsolutions.tradenow.TradeNowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ftcsolutions.tradenow.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ftcsolutions.tradenow.activities.LoginActivity" />
        <activity android:name="com.ftcsolutions.tradenow.activities.RegisterActivity" />
        <activity android:name="com.ftcsolutions.tradenow.activities.UserForgotPassActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradingAlertActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.TradeAlertDateActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.MyProfileActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity android:name="com.ftcsolutions.tradenow.activities.LoginClientActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.ResetPassActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.DemoActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradeHistoryActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.TradeHistoryDateActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.NotificationActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TermsAndConditionActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.LoginActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradeAlertDetailsActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.TradingAlertActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradeHistoryDetailsActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.TradeHistoryDateActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradeDetailViewActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.TradeHistoryDateActivity" />
        <activity android:name="com.ftcsolutions.tradenow.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradeAlertDateActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.TradeHistoryDateActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.NewsActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />

        <service
            android:name="com.ftcsolutions.tradenow.services.TradeNowNotificationExtender"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
        <service
            android:name="com.ftcsolutions.tradenow.services.SignalSyncService"
            android:exported="false" />
        <service
            android:name="com.ftcsolutions.tradenow.services.TradeBackupSyncService"
            android:exported="false" />
        <service
            android:name="com.ftcsolutions.tradenow.services.PageSyncService"
            android:exported="false" />

        <activity android:name="com.ftcsolutions.tradenow.activities.ClientForgotPassActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.WebViewActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.NewsActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.DynamicPageActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.MainActivity" />
        <activity
            android:name="com.ftcsolutions.tradenow.activities.CustomWebViewActivity"
            android:parentActivityName="com.ftcsolutions.tradenow.activities.NewsActivity" />
        <activity android:name="com.ftcsolutions.tradenow.activities.WidgetYouTubeActivity"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
    </application>

</manifest>